.html-table {
  padding: 1rem;
  table {
    thead {
      background-color: #3b3b3b;
      color: white;
    }
    th, td {
      min-width: 80px;
      padding: 0 4px;
      text-align: center;
    }
    .song-name, .file-name {
      max-width: 250px;
    }

    td.song-name, td.file-name {
      text-align: left;
    }

  }
}
