.html-table table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  thead tr th{
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 10%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-child(3) {
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
